<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="assets/img/favicon.png">
  <title>
    Infinite Analysis
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="assets/css/nucleo-icons.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper">
    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="javascript:void(0)" class="simple-text logo-normal">
            <center>{{username}}</center>
          </a>
        </div>
        <ul class="nav">
          <li>
            <a href="/">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="active ">
            <a href="/games.html">
              <i class="tim-icons icon-bullet-list-67"></i>
              <p>Games</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:void(0)">{{serviceTag}}</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
              <li class="dropdown nav-item">
                <a href="#" class="nav-link" data-toggle="dropdown">
                  <div class="photo">
                    <img src="{{userEmblemURL}}" alt="Profile Photo">
                  </div>
                </a>
              </li>
              <li class="separator d-lg-none"></li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title"> Past Game History</h4>
                </div>
                <div class="card-body">
                  <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Map</th>
                            <th>Gametype</th>
                            <th>Outcome</th>
                            <th>Accuracy</th>
                            <th>Score</th>
                            <th class="text-right">CSR Change</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for game in matchData %}
                        <tr>
                          <td class="text-center">{{game[2][0]}}</td>
                          <td>{{game[1][0]}}</td>
                          <td>{{game[1][1]}}</td>
                          {% if game[1][2] == 'win' %}
                            <td><span class="badge badge-pill badge-success">Win</span></td>
                          {% else %}
                            <td><span class="badge badge-pill badge-default">Loss</span></td>
                          {% endif %}
                          <td>{{game[2][1]}}</td>
                          <td>{{game[2][2]}}</td>
                          <td class="text-right">{{game[2][4]}}</td>
                          <td>
                            <button type="button" class="btn" data-toggle="modal" data-target="#{{game[0][1]}}">
                              Game data
                            </button></td>
                            <div class="modal modal-black fade" id="{{game[0][1]}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModalLabel">
                                      {{game[1][1]}} - {{game[1][0]}}</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                      <i class="tim-icons icon-simple-remove"></i>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <h6 class="card-subtitle mb-2 text-muted">{{game[0][2]}}</h6>
                                    <div>
                                        <div class="column">
                                          <b>Cobra - {{game[1][3]}}</b>
                                          {% for player in game[3] %}
                                          <div>
                                            <div class="card" style="width: 30rem;">
                                              <div class="card-body">
                                                <h5 class="card-title">{{player[2]}} - {{player[0]}}</h5>
                                                <p>Kills:{{player[5]}}  Deaths:{{player[6]}}  Assists:{{player[7]}}</p>
                                                <p>Accuracy: {{player[8]}}</p>
                                                <p>CSR: {{player[4]}}  MMR: {{player[3]}}</p>
                                              </div>
                                            </div>
                                          </div>
                                          {% endfor %}

                                        </div>
                                        <div class="column">
                                          <b>Eagle - {{game[1][4]}}</b>
                                          {% for player in game[4] %}
                                          <div>
                                            <div class="card" style="width: 30rem;">
                                              <div class="card-body">
                                                <h5 class="card-title">{{player[2]}} - {{player[0]}}</h5>
                                                <p>Kills: {{player[5]}}  Deaths: {{player[6]}}  Assists: {{player[7]}}</p>
                                                <p>Accuracy: {{player[8]}}</p>
                                                <p>CSR: {{player[4]}}  MMR: {{player[3]}}</p>
                                              </div>
                                            </div>
                                          </div>
                                          {% endfor %}
                                          </div>
                                    </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      <footer class="footer">
        <div class="container-fluid">
          <ul class="nav">
            <li class="nav-item">
              <a href="https://linktr.ee/EternalDusk" class="nav-link">
                Dusk - Linktree
              </a>
            </li>
          </ul>
          <div class="copyright">
            Made by EternalDusk
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="assets/js/core/jquery.min.js"></script>
  <script src="assets/js/core/popper.min.js"></script>
  <script src="assets/js/core/bootstrap.min.js"></script>
  <script src="assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Chart JS -->
  <script src="assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');
        $navbar = $('.navbar');
        $main_panel = $('.main-panel');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');
        sidebar_mini_active = true;
        white_color = false;

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



        $('.fixed-plugin a').click(function(event) {
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .background-color span').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data', new_color);
          }

          if ($main_panel.length != 0) {
            $main_panel.attr('data', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data', new_color);
          }
        });

        $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            sidebar_mini_active = false;
            blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
          } else {
            $('body').addClass('sidebar-mini');
            sidebar_mini_active = true;
            blackDashboard.showSidebarMessage('Sidebar mini activated...');
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);
        });

        $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (white_color == true) {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').removeClass('white-content');
            }, 900);
            white_color = false;
          } else {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').addClass('white-content');
            }, 900);

            white_color = true;
          }


        });

        $('.light-badge').click(function() {
          $('body').addClass('white-content');
        });

        $('.dark-badge').click(function() {
          $('body').removeClass('white-content');
        });
      });
    });
  </script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>
</body>

</html>